.images {
	display: flex;
}

.wrapper {
	width: 600px;
	margin: auto;
	border-radius: 1px;
    overflow: auto;
}

@media screen {(max-width: 600px);
 .wrapper {
    width: 90%;
 }    
}
